header {
    height: 250px;
    background: #f7ca04;
    border-radius: 10px;
    background-image: url(/pexels-daniel-frese-2983472.jpg);
    background-size: cover;
}

main {
    min-height: 800px;
}
nav{
    & ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        & li{
            display: inline-block;
            width: 100px;
            &:hover{
                background: #6a92b8;
            }
        }
    }
}
footer{
    background: #524141;
    height: 60px;
}